:root {
    --primary-color: #ffffff;
    --secondary-color: #ffffff 60%;
    --link-color: #2196f3;
    --background-color: #2f303a;
    --text-color: #757575;
    --title-color: #212121;
    --word-color: #000;
    --background-color-two: #F5F4FA;;
  }

  body {
    font-family: "Roboto", sans-serif;
    
  }

  

  