.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
}

.header-list {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-word {
  color: var(--link-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.header-title {
  color: var(--word-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.header-contacts {
  margin-left: auto;
  display: flex;
  gap: 50px;
  align-items: center;
}

.envelope-icon {
  width: 20px;
  height: 16px;
  color: var(--text-color);
  fill: #757575;
  transition-property:  color ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.phone-icon {
  width: 20px;
  height: 16px;
  color: var(--text-color);
  fill: #757575;
  transition-property:  color ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.envelope-icon:hover {
  color: var(--link-color);

}

.phone-icon:hover {
  color: var(--link-color);
  }

.header-link {
  position: relative;
  text-decoration: none;
  color: var(--word-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition-property:  color ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.header-link-now::after {
  position: absolute;
  bottom: -20px;
  right: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 25%;
  background-color: var(--link-color);
  transition-property: opacity, transform;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.header-link:hover .header-link-then:hover {
  opacity: 1;
  transform: scaleX(1);
}

.header-link-then:after {
  position: absolute;
  bottom: -20px;
  right: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 25%;
  background-color: var(--link-color);
}

.header-link-contacts {
  display: flex;
  gap: 50px;
  padding-left: 918px;
}

.header-box:hover {
  fill: var(--link-color);
}

.header-box:hover .header-link-mail {
  color: var(--link-color);
}

.header-box:hover .envelope-icon {
  fill: var(--link-color);
}

.header-box:hover .header-link-tel {
  color: var(--link-color);
}

.header-box:hover .phone-icon {
  fill: var(--link-color);
}

.header-link-mail {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02;
  transition-property:  color ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.header-link-tel {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02;
  transition-property:  color ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.header-link:hover {
  color: var(--link-color);
}

.header-link-mail:hover {
  color: var(--link-color);
}

.header-link-tel:hover {
  color: var(--link-color);
}

/* Hero */

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../photos/heroimage.png);
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-container {}

.hero-title {
  color: var(--primary-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  animation: rollOut 2s forwards;
}

@keyframes rollOut {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-0%);
  }
}

.loading-button {
  animation: bouncing 0.5s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate
    both;
}

.button {
  background-color: var(--link-color);
  color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin-top: 30px;
  cursor: pointer;
  transition-property:  background-color ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
  position: relative;
  animation: rollOut 2s forwards;
}


.button:hover {
  background-color: #0066cc;
}


.button span {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
}

@keyframes rollOut {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-0%);
  }
}

/* Info */

.info-container {
  display: flex;
  gap: 100px;
}

.info-item::before {
  height: 120px;
  width: 270px;
  content: '';
  display: block;
  background-color: var(--background-color-two);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  animation: rollOut 2s forwards;
}

.info-item:nth-child(1)::before {
  background-image: url('../photos/antenna.svg');
}

.info-item:nth-child(2)::before {
  background-image: url('../photos/clock.svg');
}

.info-item:nth-child(3)::before {
  background-image: url('../photos/diagram.svg');
}

.info-item:nth-child(4)::before {
  background-image: url('../photos/astronaut.svg');
}

@keyframes rollOut {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-0%);
  }
}

.info-list {
  display: flex;
  gap: 30px;
}

.info {
  padding-top: 94px;
  padding-bottom: 94px;
}

.info-title {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  gap: 50px;
  margin-bottom: 10px;
  margin-top: 30px;
  position: relative;
  animation: rollOut 2s forwards;
}

.info-text {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  position: relative;
  animation: rollOut 2s forwards;
}

/* Specialisation */

.specialisation-container {
  justify-content: center;
  row-gap: 50px;
}
.specialisation {
  padding-bottom: 94px;
}
.specialisation-title {
  color: var(--for-true-black-parts);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.specialisation-list,
.specialisation-item {
  display: flex;
  column-gap: 30px;
}

.specialisation-item {
  position: relative;
  z-index: -1;
}

.specialisation-text {
position: absolute;
width: 100%;
height: 70px;
padding: 27px 0px;
background-color: rgba(47, 48, 58, 0.80);
font-size: 14px;
font-weight: 700;
line-height: 16.41px;
letter-spacing: 0.03em;
top: 224px;
text-align: center;
color: white;
}


/* Team */

.team-container {
  gap: 100px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-image {
  width: 270px;
  height: 260px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #F5F4FA;
}

.team-item {
  background: #FFF;
}

.team-title {
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.team-name {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03;
  margin-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.team-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03;
  padding-bottom: 30px;
  text-align: center;
}

.team-list-icons {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.instagram-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.team-link:hover {
  background-color: #2196F3;
  fill: #FFF;
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition-property:  background-color , fill  ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.twitter-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property:  fill ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.facebook-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property:  fill ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.linkedin-icon {
  transition-property:  fill ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.instagram-icon {
  transition-property:  fill ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.twitter-icon:hover {
  fill: #FFF;
}

.instagram-icon:hover {
  fill: #FFF;
}

.linkedin-icon:hover {
  fill: #FFF;
}

.facebook-icon:hover {
  fill: #FFF;
}

.linkedin-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}
/* Clients */

.clients-container {
  border: 2px solid #000;
}

/* Hover effect */
.clients-container:hover {
  border-color: #2196F3;
}

.clients-item:hover .clients-box svg {
  fill: #2196F3;
  border-color: #2196F3;
}

.clients-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-top: 93px;
  margin-bottom: 50px;
}


.clients-container {
  display: flex;
  list-style: none;
  transition-property:  border-color ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}


.clients-list {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.clients-item {
  width: 172px;
  height: 92px;
  background-color: var(--primary-color);
  margin-bottom: 94px;
  transition-property:  fill , border-color ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.icon-company-tegline {
  width: 106px;
  height: 60px;
  border-radius: 4px;
  padding: 16px 32px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
}

.icon-brand {
  width: 106px;
  height: 60px;
  border-radius: 4px;
  padding: 16px 32px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  transition: fill 0.3s;
}

.icon-company {
  width: 106px;
  height: 60px;
  border-radius: 4px;
  padding: 16px 32px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  transition: fill 0.3s;
}


.icon-foster-peters {
  width: 106px;
  height: 60px;
  border-radius: 4px;
  padding: 16px 32px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  transition: fill 0.3s;
}


.icon-ya-go {
  width: 106px;
  height: 60px;
  border-radius: 4px;
  padding: 16px 32px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  transition: fill 0.3s;
}


.company-tag-here {
  width: 106px;
  height: 60px;
  border-radius: 4px;
  padding: 16px 32px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  transition: fill 0.3s;
}


/* Footer */

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-word {
  color: var(--link-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-2word {
  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-title {
  color: var(--word-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}


.footer-icons-title {
  color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 32px;
}

.footer-item-icon {
  border-radius: 50%;
  background-color: grey;
}

.footer-address {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer-mail {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer-tel {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer {
  display: flex;
  justify-content: space-between; /* Adjust spacing between lists */
  align-items: flex-start; /* Align items to the top of the footer */
}

.footer-list-icons {
  display: flex;
}

.footer-item, .footer-item-icons {
  margin-bottom: 9px; /* Adjust spacing between items */
  margin-right: 34px; /* Adjust spacing between items horizontally */
}

.footer-container {
  display: flex;
}

.footer-form {
  margin-left: 93px;
  width: 570px;
}

.footer-form-container {
  display: flex;
}

.footer-form-title {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  padding-left: 16px;
  color: #fff;
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}

.footer-form-button {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: left;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 28px 10px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  fill: #fff;
}

/* Pop-up menu */

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: #ffff;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  padding: 40px;
}

.modal-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal-exit {
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px #00000010 solid;
  border-radius: 20px;
  background-color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-exit:hover{
  fill: #2196f3;
}

.icon-exit {
  width: 18px;
  height: 18px;
  transition-property:  fill ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}


.modal-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal-item {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  position: relative;
  transition-property:  fill , border-color ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.modal-text {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 448px;
  height: 40px;
  padding-left: 42px;
}

.modal-input:focus{
  border-color: #2196f3;
}

.modal-item:last-child .modal-input {
  width: 448px;
  padding: 12px 16px 94px 16px;
}

.modal-item:last-child .modal-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 29px;
  left: 12px;
}

.modal-item:focus-within{
  fill: #2196f3;
}

.modal-item:hover .modal-icon, .modal-item:hover .modal-input{
  fill: #2196f3;
  border-color: #2196f3;
}

.modal-conditions {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.modal-conditions-info {
  margin-left: 7px;
  margin-right: 4px;
  color: #757575;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.modal-conditions-link {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal-conditions-checkbox {
  width: 16px;
  height: 15px;
}

.modal-button {
  border-radius: 4px;
  background: #2196f3;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  cursor: pointer;
  border: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.backmenu-opened{
  opacity: 0; 
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #757575;
  width: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition-property:  opacity , width ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.backmenu-closed{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50px;
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backmenu-closed-title{
  writing-mode: vertical-lr;
  color: #fff;
}

.backmenu-icon{
  fill: var(--link-color);
  width: 20px;
  height: 20px;
}

.backmenu-opened:hover{
  opacity: inherit;
  width: 300px;
}

.backmenu-text{
  color: #ffffff;
  transition-property:  color ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.backmenu-text:hover{
  color: var(--link-color);
}

.backmenu-item{
  display: flex;
  align-items: center;
  gap: 10px;
}

.backmenu-list{
  gap: 10px;
  display: flex;
  flex-direction: column;
}