.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
}

.header-list {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-word {
  color: var(--link-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.header-title {
  color: var(--word-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.header-contacts {
  margin-left: auto;
  display: flex;
  gap: 50px;
  align-items: center;
}

.envelope-icon {
  width: 16px;
  height: 12px;
  color: var(--text-color);
  fill: #757575;
}

.phone-icon {
  width: 10px;
  height: 16px;
  color: var(--text-color);
  fill: #757575;
}

.envelope-icon:hover {
  color: var(--link-color);

}

.phone-icon:hover {
  color: var(--link-color);
}

.header-link {
  text-decoration: none;
  color: var(--word-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-link-contacts {
  display: flex;
  gap: 50px;
  padding-left: 918px;
}

.header-box :hover {
  fill: var(--link-color);
}

.header-box:hover .header-link-mail {
  color: var(--link-color);
}

.header-box:hover .envelope-icon {
  fill: var(--link-color);
}

.header-box:hover .header-link-tel {
  color: var(--link-color);
}

.header-box:hover .phone-icon {
  fill: var(--link-color);
}

.header-link-mail {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02;
}

.header-link-tel {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02;
}

.header-link:hover {
  color: var(--link-color);
}

.header-link-mail:hover {
  color: var(--link-color);
}

.header-link-tel:hover {
  color: var(--link-color);
}

/* Hero */

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../photos/heroimage.png);
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-container {}

.hero-title {
  color: var(--primary-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--link-color);
  color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin-top: 30px;
  cursor: pointer;
}


.button:hover {
  background-color: #0066cc;
}


.button span {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
}

/* Info */

.info-container {
  display: flex;
  gap: 100px;
}

.info-item::before {
  height: 120px;
  width: 270px;
  content: '';
  display: block;
  background-color: var(--background-color-two);
  background-position: center;
  background-repeat: no-repeat;
}

.info-item:nth-child(1)::before {
  background-image: url('../photos/antenna.svg');
}

.info-item:nth-child(2)::before {
  background-image: url('../photos/clock.svg');
}

.info-item:nth-child(3)::before {
  background-image: url('../photos/diagram.svg');
}

.info-item:nth-child(4)::before {
  background-image: url('../photos/astronaut.svg');
}


.info-list {
  display: flex;
  gap: 30px;
}

.info {
  padding-top: 94px;
  padding-bottom: 94px;
}

.info-title {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  gap: 50px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.info-text {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* Specialisation */

.specialisation-container {
  justify-content: center;
  row-gap: 50px;
}
.specialisation {
  padding-bottom: 94px;
}
.specialisation-title {
  color: var(--for-true-black-parts);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.specialisation-list,
.specialisation-item {
  display: flex;
  column-gap: 30px;
}

.specialisation-item {
  position: relative;
  z-index: -1;
}

.specialisation-text {
position: absolute;
width: 100%;
height: 70px;
padding: 27px 0px;
background-color: rgba(47, 48, 58, 0.80);
font-size: 14px;
font-weight: 700;
line-height: 16.41px;
letter-spacing: 0.03em;
top: 224px;
text-align: center;
color: white;
}


/* Team */

.team-container {
  gap: 100px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-image {
  width: 270px;
  height: 260px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #F5F4FA;
}

.team-item {
  background: #FFF;
}

.team-title {
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.team-name {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03;
  margin-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.team-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03;
  padding-bottom: 30px;
  text-align: center;
}

.team-list-icons {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.instagram-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.team-link:hover {
  background-color: #2196F3;
  fill: #FFF;
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.twitter-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.facebook-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.twitter-icon:hover {
  fill: #FFF;
}

.instagram-icon:hover {
  fill: #FFF;
}

.linkedin-icon:hover {
  fill: #FFF;
}

.facebook-icon:hover {
  fill: #FFF;
}

.linkedin-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}
/* Clients */

.clients-container {
  border: 2px solid #000;
}

/* Hover effect */
.clients-container:hover {
  border-color: #2196F3;
}

.clients-item:hover .clients-box svg {
  fill: #2196F3;
  border-color: #2196F3;
}

.clients-item .clients-box svg {
  border: 1px solid #000;
}

.clients-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-top: 93px;
  margin-bottom: 50px;
}


.clients-container {
  display: flex;
  list-style: none;
}


.clients-list {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.clients-item {
  width: 172px;
  height: 92px;
  background-color: var(--primary-color);
  margin-bottom: 94px;
}

.icon-company-tegline {
  width: 106px;
  height: 60px;
  border-radius: 4px;
  padding: 16px 32px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
}

.icon-brand {
  width: 106px;
  height: 60px;
  border-radius: 4px;
  padding: 16px 32px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  transition: fill 0.3s;
}

.icon-company {
  width: 106px;
  height: 60px;
  border-radius: 4px;
  padding: 16px 32px;
  fill: #AFB1B8;
  /* border: 1px solid #AFB1B8; */
  transition: fill 0.3s;
}


.icon-foster-peters {
  width: 106px;
  height: 60px;
  border-radius: 4px;
  padding: 16px 32px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  transition: fill 0.3s;
}


.icon-ya-go {
  width: 106px;
  height: 60px;
  border-radius: 4px;
  padding: 16px 32px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  transition: fill 0.3s;
}


.company-tag-here {
  width: 106px;
  height: 60px;
  border-radius: 4px;
  padding: 16px 32px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  transition: fill 0.3s;
}


/* Footer */

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-word {
  color: var(--link-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-2word {
  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-title {
  color: var(--word-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}


.footer-icons-title {
  color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 32px;
}

.footer-item-icon {
  border-radius: 50%;
  background-color: grey;
}

.footer-address {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer-mail {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer-tel {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer {
  display: flex;
  justify-content: space-between; /* Adjust spacing between lists */
  align-items: flex-start; /* Align items to the top of the footer */
}

.footer-list-icons {
  display: flex;
}

.footer-item, .footer-item-icons {
  margin-bottom: 9px; /* Adjust spacing between items */
  margin-right: 34px; /* Adjust spacing between items horizontally */
}

.footer-container {
  display: flex;
}