.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
}

.header-list {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-word {
  color: var(--link-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.header-title {
  color: var(--word-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.header-contacts {
  margin-left: auto;
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: var(--word-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-link-contacts {
  display: flex;
  gap: 50px;
  padding-left: 918px;
}

.header-link-mail {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02;
}

.header-link-tel {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02;
}

.header-link:hover {
  color: var(--link-color);
}

.header-link-mail:hover {
  color: var(--link-color);
}

.header-link-tel:hover {
  color: var(--link-color);
}

/* Hero */

.hero {
background-image: url(../photos/heroimage.png);
  padding-top: 200px;
  padding-bottom: 200px;
  background: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)),
}

.hero-title {
  color: var(--primary-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--link-color);
  color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin-top: 30px;
}


.button:hover {
  background-color: #0066cc;
}


.button span {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
}

/* Info */

.info-container {
  display: flex;
  gap: 100px;
}

.info-item::before {
  height: 120px;
  width: 270px;
  content: '';
  display: block;
  background-color: var(--background-color-two);
  background-position: center;
  background-repeat: no-repeat;
}

.info-item:nth-child(1)::before {
  background-image: url('../photos/antenna.png');
}

.info-item:nth-child(2)::before {
  background-image: url('../photos/clock.png');
}

.info-item:nth-child(3)::before {
  background-image: url('../photos/diograma.png');
}

.info-item:nth-child(4)::before {
  background-image: url('../photos/astronaut.png');
}


.info-list {
  display: flex;
  gap: 30px;
}

.info {
  padding-top: 94px;
  padding-bottom: 94px;
}

.info-title {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  gap: 50px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.info-text {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* Specialisation */

.spacialisation-container {
  display: flex;
  gap: 100px;
}

.specialisation-list {
  display: flex;
  gap: 30px;
}

.specialisation {
  padding-bottom: 94px;
}

.specialisation-title {
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* Team */

.team-container {
  gap: 100px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item :hover{
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-image {
  width: 270px;
  height: 260px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #F5F4FA;
}

.team-item {
  background: #FFF;
}

.team-title {
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.team-name {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03;
  margin-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.team-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03;
  padding-bottom: 30px;
  text-align: center;
}

/* Footer */

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-word {
  color: var(--link-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-2word {
  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-title {
  color: var(--word-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-item {
  margin-top: 9px;
}

.footer-address {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer-mail {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer-tel {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;

}