.container {
  width: 1350px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
}

.header-list {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-word {
  color: var(--link-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.header-title {
  color: var(--word-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.header-contacts {
  margin-left: auto;
  display: flex;
  gap: 50px;
  align-items: center;
}

.envelope-icon {
  width: 16px;
  height: 12px;
  color: var(--text-color);
  fill: #757575;
  transition-property:  color ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.phone-icon {
  width: 10px;
  height: 16px;
  color: var(--text-color);
  fill: #757575;
  transition-property:  color ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.envelope-icon:hover {
  color: var(--link-color);

}

.phone-icon:hover {
  color: var(--link-color);
}

.header-link {
  position: relative;
  text-decoration: none;
  color: var(--word-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition-property:  color ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}
.header-link-now::after {
  position: absolute;
  bottom: -20px;
  right: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 25%;
  background-color: var(--link-color);
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.header-link-contacts {
  display: flex;
  gap: 50px;
  padding-left: 918px;
}

.header-box :hover {
  fill: var(--link-color);
}

.header-box:hover .header-link-mail {
  color: var(--link-color);
}

.header-box:hover .envelope-icon {
  fill: var(--link-color);
}

.header-box:hover .header-link-tel {
  color: var(--link-color);
}

.header-box:hover .phone-icon {
  fill: var(--link-color);
}

.header-link-mail {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02;
  transition-property:  color ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.header-link-tel {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02;
  transition-property:  color ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.header-link:hover {
  color: var(--link-color);
}

.header-link-mail:hover {
  color: var(--link-color);
}

.header-link-tel:hover {
  color: var(--link-color);
}

main {
  padding-top: 100px;
  padding-bottom: 94px;
}

.overlay{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
  transition-duration: 250ms;
  transform: scaleY(0);
}

.overlay-info:hover:hover .overlay, .overlay-info:focus .overlay{
  background-color: rgba(33, 150, 243, 0.9);
  width: 370px;
height: 294px;
position: absolute;
transform: scaleY(1);
transform-origin: bottom;
}

.overlay-info:hover .overlay-text, .overlay-info:focus .overlay-text{
  opacity: 1;
  }

.overlay-text{
  position: absolute;
  opacity: 0;
  left: 24px;
  top: 63px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
  transition-duration: 250ms;
  color: #FFF;

  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  position: absolute;
}


.hero-button {
  color: var(--word-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  cursor: pointer;
  transition-property:  color , background-color , box-shadow ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.hero-button:hover {
  background-color: var(--link-color);
  border: none;
  color: var(--primary-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.hero-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;

}

.hero-item {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;

}

.hero-images {
  flex-basis: calc((100%-60px) /3);
  padding-bottom: 20px;
  border: 1px solid #EEE;
  transition-property:  box-shadow ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.hero-images:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.hero-div {
  padding-left: 24px;
}

.hero-photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.hero-title {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-top: 20px;
  padding-bottom: 4px;
}

.hero-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-word {
  color: var(--link-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-2word {
  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-title {
  color: var(--word-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}


.footer-icons-title {
  color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 32px;
}

.footer-item-icon {
  border-radius: 50%;
  background-color: grey;
}

.footer-address {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer-mail {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer-tel {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer {
  display: flex;
  justify-content: space-between; /* Adjust spacing between lists */
  align-items: flex-start; /* Align items to the top of the footer */
}

.footer-list-icons {
  display: flex;
}

.footer-item, .footer-item-icons {
  margin-bottom: 9px; /* Adjust spacing between items */
  margin-right: 34px; /* Adjust spacing between items horizontally */
}

.footer-container {
  display: flex;
}

.team-container {
  gap: 100px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-image {
  width: 270px;
  height: 260px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #F5F4FA;
}

.team-item {
  background: #FFF;
}

.team-title {
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.team-name {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03;
  margin-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.team-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03;
  padding-bottom: 30px;
  text-align: center;
}

.team-list-icons {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.instagram-icon {
  width: 20px;
  height: 20px;
  fill: white;
}

.team-link:hover {
  background-color: #2196F3;
  fill: #FFF;
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition-property:  fill , background-color ;
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0,.99,.12,.28);
}

.twitter-icon {
  width: 20px;
  height: 20px;
  fill: white;
}

.facebook-icon {
  width: 20px;
  height: 20px;
  fill: #FFF;
}

.linkedin-icon {
  width: 20px;
  height: 20px;
  fill: white;
}