.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: flex;
}

.header-list {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-word {
  color: var(--link-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.header-title {
  color: var(--word-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.header-contacts {
  margin-left: auto;
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: var(--word-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-link-contacts {
  display: flex;
  gap: 50px;
  padding-left: 918px;
}

.header-link-mail {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02;
}

.header-link-tel {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02;
}

.header-link:hover {
  color: var(--link-color);
}

.header-link-mail:hover {
  color: var(--link-color);
}

.header-link-tel:hover {
  color: var(--link-color);
}


main {
  padding-top: 100px;
  padding-bottom: 94px;
}

.hero-button {
  color: var(--word-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: var(--link-color);
  border: none;
  color: var(--primary-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.hero-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;

}

.hero-item {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;

}

.hero-images {
  flex-basis: calc((100%-60px) /3);
  padding-bottom: 20px;
  border: 1px solid #EEE;
}

.hero-images:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.hero-div {
  padding-left: 24px;
}

.hero-photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.hero-title {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-top: 20px;
  padding-bottom: 4px;
}

.hero-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-word {
  color: var(--link-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-2word {
  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-title {
  color: var(--word-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-item {
  margin-top: 9px;
}

.footer-address {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer-mail {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer-tel {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;

}