.header-link :nth-child(2) {
    color: var(--link-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
  }
  
  .header-link :nth-child(3) {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
  }
  
  .header-link :nth-child(4) {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
  }
  
  .header-link :nth-child(5) {
    color: var(--link-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
  }
  
  .header-link :nth-child(6) {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
  }

  .hero-blue {
color: var(--primary-color);
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.03em;
  }

  .hero-item { 
        color: var(--title-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.03em;
}

.hero-title{
color:var(--title-color);
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
}

.hero-text {
color: var(--text-color);
font-size: 16px;

font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
}


.footer-address {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    }
    
    .footer-mail {
      color: var(--secondary-color);
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.03em;
      }
    
      .footer-tel {
        color: var(--secondary-color);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
        }