:root {
    --primary-color: #FFFFFF;
    --secondary-color: #FFFFFF 60%;
    --link-: color #2196F3;
    --background-color: #2F303A;
    --text-color: #757575;
    --title-color: #212121
}

    {
    color
}